REMOVE_BG_API_KEY=your_remove_bg_api_key_here

# Google OAuth Client ID (from Google Cloud Console)
# https://console.cloud.google.com/apis/credentials
NEXT_PUBLIC_GOOGLE_CLIENT_ID=your_google_client_id_here
